<header>
    <nav class="navbar">
        <div class="navbar-inner">
            <ul class="navbar-list d-flex flex-centered">
                <li><a routerLink="/" routerLinkActive="navbar-active" [routerLinkActiveOptions]="{ exact: true }">Recipes</a></li>
                <li class="d-flex flex-centered">
                    <img src="../../assets/icons/recipe-icon.svg" width="40">
                    <h1 class="navbar-logo">My Recipe Book</h1>
                </li>
                <li><a routerLink="/contact" routerLinkActive="navbar-active">Contact</a></li>
            </ul>
        </div>
    </nav>
</header>